{% extends 'base.html' %}
{% block title %}All News{% endblock %}

{% block content %}
<h1 class="page-title">Latest News</h1>

<div class="news-container">
    <div class="news-card">
        <h3>City News Title</h3>
        <p>This is sample city news description.</p>
        <a href="#" class="btn">Read More</a>
    </div>

    <div class="news-card">
        <h3>State News Title</h3>
        <p>This is sample state news description.</p>
        <a href="#" class="btn">Read More</a>
    </div>

    <div class="news-card">
        <h3>Breaking News</h3>
        <p>This is breaking news sample content.</p>
        <a href="#" class="btn">Read More</a>
    </div>
</div>
{% endblock %}